@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="login-box">
    <div class="login-logo">
        <b>DF</b>Pay
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@Localizer["Forgot your password?"]</p>            
            <div class="input-group mb-3">
                @await Html.PartialAsync("_SelectLanguageIdentity")
            </div>
            <form id="account" method="post">
                <span asp-validation-for="Input.Email" class="text-danger small"></span>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="Email" placeholder=@Localizer["Email"] />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">@Localizer["Request new password"]</button>
                    </div>
                </div>
                <div>
                    <a asp-page="./Login">@Localizer["Back to Login"]</a>
                </div>
            </form>
        </div>
    </div>
</div>