@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="login-box">
    <div class="login-logo">
        <b>DF</b>Pay
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Reset your password.</p>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <span asp-validation-for="Input.Email" class="text-danger small"></span>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="Email" placeholder="Email" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger small"></span>
                <div class="input-group mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="Password" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                <div class="input-group mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="ConfirmPassword" placeholder="Confirm Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>