<!-- Main Footer -->
    <footer class="main-footer no-print text-center">
        <div class="d-none d-sm-inline">
                <strong>&copy; 2020 <a href="https://desfran.com">DF Pay</a>.</strong> All rights reserved
        </div>
    </footer>