<!-- Navbar -->    
    <nav class="main-header navbar navbar-expand-md navbar-white navbar-white">
        <div class="container">
            <div class="navbar-brand">
                @*<img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                <span class="brand-text font-weight-light">DF Pay</span>
            </div>
        </div>
        <div class="navbar">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>        
    </nav>
<!-- /.navbar -->