<!-- Main Footer -->
    <footer class="main-footer no-print">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            @Localizer["Version"] 1.0.0
        </div>
        <!-- Default to the left -->
        <strong>&copy; 2020 <a asp-controller="Home" asp-action="Index">@Localizer["CompanyName"]</a>.</strong> @Localizer["All rights reserved"]
    </footer>